*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color: white;
}

div {
    width: 800px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 30px;
    background-color: white;
    padding: 10px;
    border: solid;
}

header {
    width: 100%;
    background-color: green;
}

nav ul li{
    float: left;
    background-color: darkgreen;
}

a{
    display: block;
    padding: 8px;
    background-color: darkgreen;
}

article{
    padding: 20px;
}

h1 {
    color: black;
    font-size: large;
}

footer {
    background-color: green;
    text-align: right;
}